{% extends 'base.html'%}
{% block content%}
    <div class="profile">
        <div class="profile_image">
            <img src="{{url_for('static', filename = 'profile_pic.jpg')}}" alt="pofile_pic" >
        </div>
        <div class="profile-content">
            <div class="profile-username">
                <b style = "font-size: 1.8em">{{user_info.name}}</b>
            </div>
            <div class="profile-detail">
                Right Handed Batsman from {{user_info.vill}}
            </div>
            <div style = 'margin-top: 30px'>
            {% if not same_user:%}
                {% if following_already: %}
                    <button type="button" class="btn" id = 'follow_button' style = 'background-color: yellow'> Following </button>
                {% else: %}
                    <button type="button" class="btn" id = 'follow_button'> Follow </button>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    {% for user in following:%}
    <a href="{{url_for('profile', id=user._id)}}">{{user.name}}<br></a>
    {% endfor%}
{% endblock %}
